<h1 class="text-center fs-1 mt-3 mb-3">Panel</h1>
<div class="row">
    <div routerLink="/questions" class="col-lg-4 col-md-6 col-sm-12 mat-elevation-z24 ripple-container m-1 rounded-3 fs-4" matRipple>
            Sorular
    </div>

    <div routerLink="/lessons" class="col-lg-4 col-md-6 col-sm-12 mat-elevation-z24 ripple-container m-1 rounded-3 fs-4" matRipple>
        
            Dersler
    </div>

    <div routerLink="/lesson-topics" class="col-lg-4 col-md-6 col-sm-12 mat-elevation-z24 ripple-container m-1 rounded-3 fs-4" matRipple>
            Ders Konuları
    </div>

    <div routerLink="/forwarded-replies" class="col-lg-4 col-md-6 col-sm-12 mat-elevation-z24 ripple-container m-1 rounded-3 fs-5" matRipple>
            Sorulara verilen cevaplar
    </div>

</div>